<ion-header id="header"  style="background-color: rgb(1, 44, 86);">
  <h1 style="color: white;">RegistrAPP</h1>
  <img src="./../../../assets/duoc.png" style="width: 100%">
</ion-header>


<ion-content [fullscreen]="true" style="background-color: white;display: flex;">
  <div style="background-color: rgb(1, 44, 86);">Docente</div>
  <h3>Bienvenido {{nom_usu}}</h3>
  <form action="">
  <div style="margin-top: 17vh;">
    <ion-button routerLink="/pagina5" color="warning" style="width: 90%; margin-left:5%; margin-right: 5%;">Generar Codigo QR</ion-button>
    <ion-button routerLink="/home/" color="warning" style="width: 90%; margin-left:5%; margin-right: 5%;">Ver lista de asistencia</ion-button>

  </div>
</form>
</ion-content>

<ion-footer style="background-color: rgb(7, 56, 204)">
  <ion-toolbar>
    <h1>DuocUC</h1>
  </ion-toolbar>
</ion-footer>




