<ion-header id="header"  style="background-color: rgb(1, 44, 86);">
  <h1>RegistrAPP</h1>
  <img src="./../../../assets/duoc.png" style="width: 100%">
</ion-header>

<ion-content [fullscreen]="true">

<div style="background-color: rgb(1, 44, 86);">Alumnos</div>
  <form [formGroup]="nuevoUsuario" (ngSubmit)="Registrar()">
  <div>
    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input formControlName="elUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input formControlName="laPass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Repetir Contraseña</ion-label>
      <ion-input formControlName="laPass2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo electronico</ion-label>
      <ion-input formControlName="correo"></ion-input>
    </ion-item>
    <a href="" routerLink="/home/" style="text-decoration: none;"><h6 >Volver</h6></a>
    <ion-button color="warning" style="width: 90%; margin-left:5%; margin-right: 5%;" type="submit">Registrar</ion-button>

  </div>
</form>
</ion-content>

<ion-footer style="background-color: rgb(7, 56, 204)">
  <ion-toolbar>
    <h1>DuocUC</h1>
  </ion-toolbar>
</ion-footer>




